<aside>
    <button type="button" class="lg-popup-button lg-button js-open-popup" data-popup-id="contactPopup">contact me</button>
    <div id="contactPopup" class="lg-popup js-popup" role="dialog" aria-modal="true" aria-labelledby="contactPopupTitle">
        <div class="lg-popup__content">
            <div class="lg-popup__header">
                <h2 id="contactPopupTitle" class="lg-popup__title">Contact information by category</h2>
                <button type="button" class="lg-popup__close lg-button js-close-popup" data-popup-id="contactPopup">
                    <svg aria-hidden="true" class="lg-icon" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" />
                    </svg>
                </button>
            </div>
            <p><span class="lg-popup__label">Representation</span><a href="https://bookingandmanagementservices.com" target="_blank">bookingandmanagementservices.com</a></p>
            <p><span class="lg-popup__label">Booking</span>booking@bookingandmanagementservices.com</p>
            <p><span class="lg-popup__label">Management</span>management@bookingandmanagementservices.com</p>
            <p><span class="lg-popup__label">General Inquiries</span>someone@bookingandmanagementservices.com</p>
            <p><span class="lg-popup__label">Licensing</span>Andrea Matos at <a href="https://castlepeakmusic.com/" target="_blank">Castle Peak Music</a>, andrea@castlepeakmusic.com</p>
            <p><span class="lg-popup__label">Social</span><a href="https://www.instagram.com/laceyjoguthrie" target="_blank">Instagram</a></p>
        </div>
    </div>
</aside>
