<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "Person",
            "@id": "https://laceyguthrie.com/#lacey",
            "name": "Lacey Guthrie",
            "url": "https://laceyguthrie.com/",
            "image": "https://laceyguthrie.com/img/lacey-guthrie-gold-blazer.jpg",
            "description": "Lacey Guthrie is a songwriter and musician based in Louisville, Kentucky. Founding member of Twin Limb, current member of duchess.",
            "jobTitle": "Songwriter and musician",
            "homeLocation": {
                "@type": "Place",
                "name": "Louisville, Kentucky"
            },
            "memberOf": [
                {
                    "@type": "MusicGroup",
                    "name": "duchess"
                },
                {
                    "@type": "MusicGroup",
                    "name": "Twin Limb"
                },
                {
                    "@type": "MusicGroup",
                    "name": "Ouzelum"
                }
            ],
            "sameAs": [
                "https://laceyguthrie.bandcamp.com/",
                "https://www.instagram.com/laceyjoguthrie",
                "https://www.discogs.com/artist/4879854-Lacey-Guthrie",
                "https://tidal.com/artist/15667112",
                "https://music.apple.com/us/artist/lacey-guthrie/1278412201"
            ]
        },
        {
            "@type": "MusicGroup",
            "@id": "https://laceyguthrie.com/#artist",
            "name": "Lacey Guthrie",
            "url": "https://laceyguthrie.com/",
            "image": "https://laceyguthrie.com/img/lacey-guthrie-gold-blazer.jpg",
            "genre": "Independent",
            "foundingLocation": {
                "@type": "Place",
                "name": "Louisville, Kentucky"
            },
            "member": {
                "@id": "https://laceyguthrie.com/#lacey"
            },
            "album": [
                {
                    "@type": "MusicAlbum",
                    "name": "Flower Eating Monster",
                    "datePublished": "2024",
                    "byArtist": {
                        "@id": "https://laceyguthrie.com/#artist"
                    }
                },
                {
                    "@type": "MusicAlbum",
                    "name": "The King of Holding Onto Things",
                    "datePublished": "2021",
                    "byArtist": {
                        "@id": "https://laceyguthrie.com/#artist"
                    }
                }
            ],
            "sameAs": [
                "https://laceyguthrie.bandcamp.com/",
                "https://www.discogs.com/artist/4879854-Lacey-Guthrie",
                "https://tidal.com/artist/15667112",
                "https://music.apple.com/us/artist/lacey-guthrie/1278412201"
            ]
        },
        {
            "@type": "WebSite",
            "@id": "https://laceyguthrie.com/#website",
            "name": "Lacey Guthrie",
            "url": "https://laceyguthrie.com/",
            "about": {
                "@id": "https://laceyguthrie.com/#lacey"
            }
        }
    ]
}
</script>
