<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">
    <meta name="referrer" content="origin">
    <meta name="description" content="{{ description }}">

    <!-- Open Graph (Facebook) -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ ogTitle | default: title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://laceyguthrie.com/img/og-image.jpg">
    <meta property="og:url" content="https://laceyguthrie.com">

    <!-- Twitter Cards -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{{ ogTitle | default: title }}">
    <meta property="twitter:description" content="{{ description }}">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {%- if extraCSS %}
    {%- for href in extraCSS %}
    <link rel="stylesheet" type="text/css" href="/{{ href }}">
    {%- endfor %}
    {%- endif %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{{ fontsHref }}" rel="stylesheet">
</head>

<body class="lg-body">

    <header class="lg-header {{ headerModifier }} container">
        <h1 class="lg-header__title"><a href="/">who do I think I am?</a></h1>

        <nav class="lg-header__nav">
            <h2 class="lg-header__nav-title" id="nav-title">Directory</h2>
            <ul class="lg-header__nav-list" aria-labelledby="nav-title">
                {%- if activePage == "home" %}
                <li><a class="js-anchor-link" href="#releases">releases</a></li>
                {%- else %}
                <li><a href="/">releases</a></li>
                {%- endif %}
                <li><a class="js-anchor-link" href="#shows">shows</a></li>
                <li><a {% if activePage == "images" %}class="is-active" {% endif %}href="/images/">images</a></li>
                <li><a {% if activePage == "videos" %}class="is-active" {% endif %}href="/videos/">videos</a></li>
                <li><a {% if activePage == "lyrics" %}class="is-active" {% endif %}href="/lyrics/">lyrics</a></li>
                <li><a href="https://shirtkiller.com/products/lacey-guthrie-flower-eating-monster-lp" target="_blank" rel="noopener noreferrer">order a record</a></li>
                <li><a href="https://laceyguthrie.bandcamp.com" target="_blank" rel="noopener noreferrer">download music</a></li>
                <li><button type="button" class="js-open-popup" data-popup-id="contactPopup">contact</button></li>
            </ul>
        </nav>
    </header>

    {{ content }}

    {% include "contact-popup.html" %}

    <footer class="lg-footer"></footer>

    <script src="/js/init.js"></script>
    {%- if extraScripts %}
    {%- for src in extraScripts %}
    <script src="/{{ src }}"></script>
    {%- endfor %}
    {%- endif %}

</body>
</html>
