<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="origin">
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="https://laceyguthrie.com{{ page.url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/digital.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="dg-body">
    {% assign activeSite = "digital" %}
    {% include "site-nav.html" %}
    {{ content }}
    <script src="/js/init.js"></script>
</body>
</html>
